<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z4">
    <a mat-button
       class="no-hover-effect"
       href="https://teltonika-iot-group.com/">
       <img src="https://teltonika-iot-group.com/img/teltonika_logo.9f7d7d79b96df41a30e04acb1e22cf0af9913eae0f9e7dca37bf3e67032a2392.svg">
    </a>
    <div class="flex-spacer"></div>
    <a mat-button
       class="no-hover-effect"
       href="mailto:mindaugas.bernotas@protonmail.com">
        mindaugas.bernotas@protonmail.com
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
